doctype html
html
  head
    title Render HTML using PUG
    script(type="module" src="/scripts/admin_page/edit_students.js")
    script.
        const ROLES={
          student:'#{student}'
          }
  body
    h1 Students
    a(href="/admin") back
    div
      div 
        input(type="text", name="nick", placeholder="nick")#nick
        input(type="text", name="f_name", placeholder="f_name")#f_name
        input(type="text", name="s_name", placeholder="s_name")#s_name
        input(type="text", name="t_name", placeholder="t_name")#t_name
        input(type="text", name="password", placeholder="password")#password
      div 
        input(type="button", value="append")#btn_append_user
    div
      label users 
      div#edited_users
    div
      input(type="button", value="check")#get_users
      input(type="button", value="commit")#commit
    div#users

