doctype html
html
  head
    title Render HTML using PUG
    script(type="module" src="/scripts/admin_page/users.js") 
  body
    h1 Users
    a(href="/admin_page") back
    div
      div 
        input(type="text", name="nick", placeholder="nick")#nick
        input(type="text", name="f_name", placeholder="f_name")#f_name
        input(type="text", name="s_name", placeholder="s_name")#s_name
        input(type="text", name="t_name", placeholder="t_name")#t_name
        input(type="text", name="password", placeholder="password")#password
      div 
        input(type="radio", name="role", value=student, checked="true")#rb_student
        label(for="rb_student")  is_student
        input(type="radio", name="role", value=teacher)#rb_teacher
        label(for="rb_teacher")  is_teacher
        input(type="radio", name="role", value=admin)#rb_admin
        label(for="rb_admin")  is_admin
      div 
        input(type="button", value="append")#btn_append_user
    div
      label users 
      div#users
    div
      input(type="button", value="commit")#commit
    

