doctype html
html
  link(rel="stylesheet", href="styles/meet.css", type="text/css")
  script(type="module" src="scripts/AgoraRTC_N-4.17.0.js") 
  script(type="module" src="scripts/main.js") 
  head
    title Render HTML using PUG
  body
    h1 meet_area
    button#join Join
    button#leave Leave

        
