doctype html
html
  head
    title Render HTML using PUG
  body
    h1=title 
    form(action="/login/password", method="post")
      p 
        | title:
        input(type="date", name="date")
        | password:
        input(type="date", name="duration_minuts", min="5")
        | 
      input(type="submit")
    script(src="scripts/script.js") 

        
