<!DOCTYPE html>
<html>

<head>
	<title>test</title>
	<link rel="stylesheet" href="test.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="test.js"></script>
</head>

<body>
	<p>test</p>
	<div class="week week_media">
		<div class="day grid">
			<div class="hours">
			</div>
			<div class="classes classes_media">
				<div class="el el1" top="10%" height="5%">
					<p class="info">info text</p>
					<div class="brief">small piece of text</div>
				</div>
				<div class="el el2" top="20%" height="5%">
					<p class="info">info text</p>
					<div class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of texta
						lot of texta lot of texta lot of texta lot of text</div>
				</div>
				<div class="el el1" top="30%" height="5%">
					<p class="info">info text</p>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
				<div class="el el2" top="40%" height="5%">
					<p class="info">info text</p>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
				<div class="el el1" top="50%" height="45%">
					<p class="info">info text</p>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
			</div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media">
				<div class="el el2" top="0%" height="4.165%"></div>
				<div class="el el2" top="41.66%" height="5.625%"></div>
				<div class="el el1" top="47.70%" height="5.625%"></div>
				<div class="el el2" top="55.42%" height="5.625%"></div>
				<div class="el el1" top="63.12%" height="5.625%"></div>
				<div class="el el2" top="70.83%" height="5.625%"></div>
				<div class="el el1" top="76.87%" height="5.625%"></div>
			</div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media">
				<div class="el el1" top="40%" height="25%"></div>
				<div class="el el2" top="70%" height="25%"></div>
			</div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media"></div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media"></div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media"></div>
		</div>
		<div class="day grid">
			<div class="hours "> </div>
			<div class="classes classes_media"></div>
		</div>
	</div>
</body>

</html>