<!DOCTYPE html>
<html>

<head>
	<title>test</title>
	<link rel="stylesheet" href="css/shedule.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="scripts/shedule.js"></script>
</head>

<body>
	<p>test</p>
	<div class="week week_media">
		<div class="day " id="day1">
			<div class="day_name "> <span>Понедельник</span></div>
			<div class="hours grid"></div>
			<div class="classes grid classes_media">

				<div class="el el1" top="10%" height="5%">
					<span class="info">info text</span>
					<div class="brief">small piece of text</div>
				</div>
				<div class="el el2" top="20%" height="5%">
					<span class="info">info text</span>
					<div class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of
						texta
						lot of texta lot of texta lot of texta lot of text</div>
				</div>
				<div class="el el1" top="30%" height="5%">
					<span class="info">info text</span>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of
						texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
				<div class="el el2" top="40%" height="5%">
					<span class="info">info text</span>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of
						texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
				<div class="el el1" top="50%" height="45%">
					<span class="info">info text</span>
					<span class="brief">a lot of text a lot of texta lot of texta lot of texta lot of texta lot of
						texta
						lot of texta lot of texta lot of texta lot of text</span>
				</div>
			</div>
		</div>
		<div class="day " id="day2">
			<div class="day_name "><span>Вторник</span></div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media">
				<div class="el el2" top="0%" height="4.165%"></div>
				<div class="el el2" top="41.66%" height="5.625%"></div>
				<div class="el el1" top="47.70%" height="5.625%"></div>
				<div class="el el2" top="55.42%" height="5.625%"></div>
				<div class="el el1" top="63.12%" height="5.625%"></div>
				<div class="el el2" top="70.83%" height="5.625%"></div>
				<div class="el el1" top="76.87%" height="5.625%"></div>
			</div>
		</div>
		<div class="day " id="day3">
			<div class="day_name">С<span>реда</span></div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media">
				<div class="el el1" top="40%" height="25%"></div>
				<div class="el el2" top="70%" height="25%"></div>
			</div>
		</div>
		<div class="day " id="day4">
			<div class="day_name">Ч<span>етверг</span> </div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media"></div>
		</div>
		<div class="day " id="day5">
			<div class="day_name">П<span>ятница</span></div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media"></div>
		</div>
		<div class="day " id="day6">
			<div class="day_name "><span>Суббота</span></div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media"></div>
		</div>
		<div class="day " id="day7">
			<div class="day_name "><span>Воскресенье</span></div>
			<div class="hours grid "> </div>
			<div class="classes grid classes_media"></div>
		</div>
	</div>
</body>

</html>