html{
	font-family: 'Times New Roman', Times, serif;
}

.week {
	display: flex;
	flex-flow: column;
	width: fit-content;
}

.week_media {
	height: 315vh;
	width: 100%;
}

.day {
	display: flex;
	flex-flow: row;
	height: 100%;
	border: 3px solid black;
}

.grid {
	background: repeating-linear-gradient(#a8a8a8,
			#a8a8a8 3.8%,
			#727272 4.167%,
			#727272 8.334%);
}

.hours {
	display: flex;
	flex-flow: column;
	min-width: 60px;
	border-right: 2px solid black;
	border-left: 2px solid black;
	font-weight: 550;
}

.hours>div {
	height: 2.084vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.classes {
	width: calc(100% - 60px);
	display: flex;
	flex-flow: row;
	/* overflow-y: hidden;
	overflow-x: auto; */
}

.day_name {
	rotate: 90deg;
	height: 60px;
	top: 40%;
	position: relative;
}

.classes_media {
	height: 50vh;
}

.el {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 20vw;
	min-width: 20vw;
	transition-property: width, height, top;
	transition-duration: 700ms;
	border-radius: 7px;
	box-sizing: border-box;
	border: 3px #009084 solid;
}

.el:hover {
	overflow: visible;
	height: 50px;
}

.brief {
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 5px;
	user-select: none;
	width: 100%;
	text-align: center;
	width: fit-content;
	left: 50%;
	transform: translate(-50%, 0%);
	background: aqua;
	position: absolute;
	border: 3px solid #009084;
	border-radius: 3px;
	box-sizing: border-box;
}

.brief p {
	margin: 0px;
	margin-bottom: 2px;
}

.el>.info {
	visibility: collapse;
}


.el_selected {
	height: 100%;
	max-width: 100%;
}

.el_selected>.info {
	visibility: visible;
	padding-left: 4px;
}

.el_selected>.brief {
	visibility: hidden;
	height: 0px;
	width: 0px;
	font-size: 0;
}

.el_hidden {
	width: 1%;
	max-width: 1%;
}

.el_hidden>* {
	visibility: hidden;
	height: 0px;
}

.el_hidden>.brief {
	visibility: hidden;
	height: 0px;
}

.el1 {
	background-color: aqua;
}

.el2 {
	background-color: green;
}

@media (orientation: landscape) {
	.day_name {
		width: 24px;
		transform: translate(-50%, 25%);
	}

	.week {
		font-size: 22px;
		/* font-size: 2vw; */
	}
/* 
	.classes_no_selected::after {
		min-width: 72.2vw;
		content: ' ';
	} */
}

@media (orientation: portrait) {
	.day_name {
		width: 40px;
		transform: translate(-50%, 10%);
	}

	.week {
		font-size: 36px;
		/* font-size: 2vw; */
	}

	/* .classes_no_selected::after {
		min-width: 67vw;
		content: ' ';
	} */
}