:root {
	--day-one-line-border: 3px;
}


html {
	font-family: 'Times New Roman', Times, serif;
}

.week {
	display: flex;
	flex-flow: column;
	width: fit-content;
	font-size: var(--font-size);

}

.week_media {
	/* height: 350vh; */
	height: auto;
	width: 80%;
}

.day {
	display: flex;
	flex-flow: row;
	height: var(--day-height);
	border: var(--day-one-line-border) solid black;
	border-top: 0px;
	background: #a8a8a8;
}

.overflow_holder {
	overflow: auto;
	display: flex;
}

.grid {
	background: repeating-linear-gradient(#a8a8a8,
			#a8a8a8 3.8%,
			#727272 4.167%,
			#727272 8.334%);
}

.hours {
	display: flex;
	flex-flow: column;
	min-width: 60px;
	height: calc(var(--day-height) - var(--day-one-line-border));

	border-right: 2px solid black;
	border-left: 2px solid black;

	font-weight: 550;
	user-select: none;
	position: sticky;
	z-index: 10;
	left: 0px;

	margin-right: 24px;
}

.hours>div {
	height: 4.166%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.classes {
	width: max-content;
	justify-content: space-around;
	display: flex;
	flex-flow: row;
	height: calc(var(--day-height) - var(--day-one-line-border));
	/* overflow-y: hidden;
	overflow-x: auto; */
}




.day_name {
	height: 60px;
	top: 40%;
	position: relative;
	;
	writing-mode: vertical-rl;
	user-select: none;
}

/*.classes _no_selected */
.classes::after {
	/* min-width: 100%; */
	/* content: ' '; */
}

.classes_no_selected::after {
	min-width: 100vw;
	content: ' ';
}

.el>.info {
	max-height: 0px;
}

.el {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 20vw;
	min-width: 300px;
	transition-property: width, height, top;
	transition-duration: 700ms;
	border-radius: 7px;
	box-sizing: border-box;
	border: 3px #009084 solid;
}

.el:hover {
	overflow: visible;
	height: 50px;
}

.brief {
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 5px;
	user-select: none;
	width: 100%;
	text-align: center;
	width: fit-content;
	left: 50%;
	transform: translate(-50%, 0%);
	background: aqua;
	position: absolute;
	border: 3px solid #009084;
	border-radius: 3px;
	box-sizing: border-box;
}

.brief p {
	margin: 0px;
	margin-bottom: 2px;
}

.el>.info {
	visibility: collapse;
	font-size: 0;
}


.el_selected {
	height: 100%;
	font-size: var(--font-size);
	/* max-width: 100%; */
	min-width: 80vw;
}

.el_selected>.info {
	visibility: visible;
	padding-left: 4px;
	font-size: var(--font-size);
}

.el_selected>.brief {
	visibility: hidden;
	height: 0px;
	width: 0px;
	font-size: 0;
}

.el_hidden {
	width: 1%;
	min-width: 12px;
}

.el_hidden>* {
	visibility: hidden;
	height: 0px;
}

.el_hidden>.brief {
	visibility: hidden;
	height: 0px;
}

.el1 {
	background-color: aqua;
}

.el2 {
	background-color: green;
}

@media (orientation: landscape) {
	:root {
		--day-height: 90vh;
		--font-size: 22px;
	}

	.day_name {
		width: 24px;
	}

	.week {
		font-size: 20px;
	}

	.week_media {
		height: auto;
		width: 90%;
	}
	.el_selected{
		min-width: 76vw;
	}
}
@media (orientation: portrait) {
	:root {
		--day-height: 50vh;
		--font-size: 36px;
	}

	.day_name {
		width: 40px;
	}

	.el_selected {
		font-size: 36px;
	}

	.week_media {
		height: auto;
		width: 80%;
	}
	.el_selected{
		min-width: 65vw;
	}
}

@media (min-width: 1200px) {
	:root {
		--day-height: 50vh;
		--font-size: 32px;
	}

	.day_name {
		width: 40px;
	}

	.week {
		font-size: 26px;
	}

	.week_media {
		/* height: 350vh; */
		height: auto;
		width: 100%;
	}
	.el_selected{
		min-width: 91vw;
	}
}