p {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 3px;
  text-align: center;
  word-break: normal;
}


.table_piece {
  height: 100%;
  outline: 1px solid black;
  display: flex;

  align-content: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  word-break: normal;
  min-width: 20px;

  background-color: yellow;
  word-break: break-all;
}

.item_holder {
  width: 100%;
  display: flex;
}

.table_item {
  background-color: darkgrey;
  width: 100%;
}

.current_day {
  background-color: gray;
  word-break: normal;
}

.class_text {
  color: rgb(54, 54, 54);
}

.current_day p {
  color: black;
}

.current_class {
  background-color: green;
  word-break: normal;
}


.table_title {
  max-height: 32px;
}

.group_holder,
.up_holder {
  width: 100%;
}

.group_title {
  flex-wrap: nowrap;
  width: 100vw;
}

.date_title {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

.time_title {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

.stick_top {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.container_as_row {
  display: flex;
  flex-direction: row;
}

.container_as_col {
  display: flex;
  flex-direction: column;
}

.hide_col {
  width: 0px;
  height: 5px;
}

.hide_col * {
  visibility: collapse;
  width: 0px;
}